<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product()) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="penaCoffeeApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ product()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="penaCoffeeApp.product.name">Name</span></dt>
          <dd>
            <span>{{ product()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="penaCoffeeApp.product.description">Description</span></dt>
          <dd>
            <span>{{ product()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="penaCoffeeApp.product.price">Price</span></dt>
          <dd>
            <span>{{ product()!.price }}</span>
          </dd>
          <dt><span jhiTranslate="penaCoffeeApp.product.stock">Stock</span></dt>
          <dd>
            <span>{{ product()!.stock }}</span>
          </dd>
          <dt><span jhiTranslate="penaCoffeeApp.product.productType">Product Type</span></dt>
          <dd>
            <span [jhiTranslate]="'penaCoffeeApp.ProductType.' + (product()!.productType ?? 'null')">{{
              { null: '', BEAN: 'BEAN', GROUND: 'GROUND', SNACK: 'SNACK' }[product()!.productType ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/product', product()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
